<div class="wrapper">
  <div class="login-panel">
    <div class="panel foreground">
      <div class="inputs">
        <div class="logo">
          <img src="/assets/images/utils/logo.png" alt="logo">
        </div>
        <div class="input-area">
          <div class="icon">
            <i class="far fa-user"></i>
          </div>
          <div class="input">
            <input type="text" [(ngModel)]="credential.username">
          </div>
        </div>
        <div class="input-area">
          <div class="icon">
            <i class="fas fa-key"></i>
          </div>
          <div class="input">
            <input type="password" [(ngModel)]="credential.password">
          </div>
        </div>

        <div class="message" *ngIf="error.isError">
          * {{ error.message}}
        </div>
        <button class="primary" (click)="login()">
          Login
        </button>
        <hr>
        <a class="forgot-password text-center" style="text-decoration: underline;">Forgot Password ?</a>
      </div>
    </div>
    <div class="panel background"></div>
  </div>
</div>