/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: content-box;
}

button {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

//  #2C3531 dark black
//  #116466 neon dark green
//  #D9B08C
//  #FFCB9A
//  #D1E8E2 light blue